In [1]:
print('hello world!')

hello world!

## Hello world 출력
print()를 사용하여 화면에 hello world를 출력합니다

*hello*(줄바꿈 - 스페이스 두번)  
**hello**  
***hello***

In [2]:
name = input("Enter your name")
print(name)

Enter your namebk
bk

In [3]:
type(name)

str

In [4]:
number = input("Enter a number : ")

Enter a number : 3

In [5]:
type(number)

str

In [6]:
a=100
b=200
result = a+b
print(a,"+",b,'=',result)

100 + 200 = 300

In [7]:
number = 10
day = "three"

print("I ate %d aplles, so I was sick for %s days."%(number, day))

I ate 10 aplles, so I was sick for three days.

In [19]:
# 실습1. 화씨 온도를 입력받아서 섭씨 온도로 바꾸기

f = float(input("화씨온도 : "))
c = (f-32)*5/9

print("섭씨온도 : {:.2f}".format(c))

화씨온도 : 100
섭씨온도 : 37.78

In [21]:
# 실습2. 잔돈계산 - 동전개수 최소

money = int(input("투입한 돈 : "))
money2 = int(input("물건 값 : "))
change = money - money2
print("거스름 돈 : ", change)

num_500 = change//500
num_100 = (change-num_500*500)//100
print("500원짜리 : ",num_500,"개")
print("100원짜리 : ",num_100,"개")

투입한 돈 : 5000
물건 값 : 2300
거스름 돈 :  2700
500원짜리 :  5 개
100원짜리 :  2 개

In [22]:
# 시퀀스 자료형

word = "Hello"
print(word[0])
print(word[-1])

H
o

In [23]:
print(word[0:2])

He

In [25]:
word = "12345"
print(word[:])
print(word[::2])
print(word[1::2])
print(word[::-1])
print(word[-1::-2])

12345
135
24
54321
531

In [26]:
# "in" 키워드 - 멤버 확인 키워드

word = "Python"
'o' in word

True

In [29]:
print(len(word))
print(word.count('n'))
print(word.index('n'))
s = ','
print(s.join('hello'))

6
1
5
h,e,l,l,o

In [30]:
# 실습3. 문자열의 마지막 문자를 구해서 출력

word = "Hello"
word[len(word)-1]

'o'

In [32]:
# split()

s = "python is fun"
print(s.split())
s2 = "one:two:three"
print(s2.split(":"))

['python', 'is', 'fun']
['one', 'two', 'three']

In [33]:
# 리스트

a = [1,2,3]
a[2]

3

In [34]:
a[2] = 8
a

[1, 2, 8]

In [35]:
del a[0]
a

[2, 8]

In [36]:
# 리스트 패킹, 언패킹

t = [1,2,3] # 1,2,3을 t에 패킹
a,b,c = t # t값 1,2,3을 a,b,c에 언패킹
print(a,b,c)

1 2 3

In [38]:
# 실습4. 년월일

day_input = input("날짜(연/월/일)입력 : ")
year, month, day = day_input.split('/')
print("입력한 날자의 10년 후는 {}년 {}월 {}일".format(int(year)+10, month, day))

날짜(연/월/일)입력 : 2021/3/29
입력한 날자의 10년 후는 2031년 3월 29일

In [45]:
list(range(2,11,2))

[2, 4, 6, 8, 10]